@use 'assets/styles/reset';

/* @font-face {
    font-family: '';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/.ttf') format("trueType");
  } */

  body {
    font-family: $mainFonts;
  }

